@import url('../../config.less');

.nav {
  border-bottom: unit(.1) solid #000;
  padding: unit(.8) unit(1.4);
  height: unit(1.6);

  > .logo {
    height: 100%;
    position: relative;
    top: -20%;
  }
}
